<%- include('partials/head.ejs')%> <%- include('partials/navbar.ejs')%>
<div class="container-fluid">
  <img src="imgs/banner.webp" class="img-fluid " alt="" />
</div>
<div class="container-fluid">
    <div class="cards">
        
    </div>
</div>
<%- include('partials/footer.ejs')%>
